In [1]:
#addition and division
num1 = float(input("enter first number "))
num2 = float(input("enter second number "))
sum_result = num1 + num2
print(f"sum : {num1} + {num2} = {sum_result}")

enter first number 2
enter second number 3
sum : 2.0 + 3.0 = 5.0

In [2]:
#division
num3 = float(input("enter divident"))
num4 = float(input("enter divisor"))
if num4 == 0:
  print("error")
else:
  div_result = num3/num4
  print(f"division:{num3} / {num4} = {div_result}")

enter divident2
enter divisor1
division:2.0 / 1.0 = 2.0

In [3]:
#substract
num5 = int(input("enter num5 "))
num6 = int(input("enter num6"))
result = num5 - num6
print(f"substraction : {num5} - {num6} = {result}")

enter num5 55
enter num630
substraction : 55 - 30 = 25

In [4]:
#area of triangle
base = float(input("enter the length of base of triangle "))
height = float(input("enter the height of the triangle "))
area = 0.5 * base * height
print(f"the area of traingle is : {area}")

enter the length of base of triangle 4
enter the height of the triangle 5
the area of traingle is : 10.0

In [5]:
#swap 2 numbers
a = input("enter the value of the first variable (a) :")
b = input("enter the value of the second variable (b) :")
print(f"original values : a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"swapped values : a = {a}, b = {b}")

enter the value of the first variable (a) :5
enter the value of the second variable (b) :6
original values : a = 5, b = 6
swapped values : a = 6, b = 5

In [6]:
#write a program to generate random numbers
import random
print(f"random number : {random.randint(1,100)}")

random number : 33

In [7]:
import random
print(f"random : {random.randint(1,200)}")

random : 196

In [8]:
#convert kilometers into miles
kilometers = float(input("enter distance in kilometers"))
conversion_factor = 0.621371
miles = kilometers * conversion_factor
print(f"{kilometers} kilometers is equal to {miles} miles")

enter distance in kilometers50
50.0 kilometers is equal to 31.068550000000002 miles

In [9]:
#convert celcius into fahrenhite
celcius = float(input("enter temperature in celcius:"))
fahrenheit = (celcius * 9/5) * 32
print(f"{celcius} degrees celcius is equal to {fahrenheit} degrees fahreinheit")

enter temperature in celcius:36
36.0 degrees celcius is equal to 2073.6 degrees fahreinheit

In [13]:
#program to display calender
import calendar
year = int(input("enter year : "))
month = int(input("enter month : "))
cal = calendar.month(year,month)
print(cal)

enter year : 2025
enter month : 11
   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [14]:
import calendar
year = int(input("enter year "))
month = int(input("enter month "))
cal = calendar.month(year,month)
print(cal)

enter year 2025
enter month 2
   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

In [22]:
#program to swap variables without using temp
a = 5
b = 10
print("before swapping ")
print("a = ",a)
print("b = ",b)
a,b = b,a
print("after swapping")
print("a = ",a)
print("b = ",b)

before swapping
a =  5
b =  10
after swapping
a =  10
b =  5

In [24]:
#to check if a no is positive negative or zero
num = float(input("enter a number : "))
if num > 0:
  print("positive number")
elif num == 0 :
  print("zero")
else:
  print("negative number")

enter a number : 5
positive number

In [25]:
#check even odd
num = int(input("enter number : "))
if num % 2 == 0:
  print("the number is even")
else:
  print("the number is odd")

enter number : 5
the number is odd

In [26]:
from re import T
#prime no
num =  int(input("enter number "))
flag = False
if num == 1:
  print(f"{num}, is not prime")
elif num > 1:
  for i in range(2,num):
    if (num%i)==0:
      flag = True
      break
if flag:
  print(f"{num}, is not a prime")
else:
  print(f"{num}, is a prime")

enter number 5
5, is a prime

In [29]:
#factorial
num = int(input("enter number "))
factorial = 1
if num < 0 :
  print("factorial does not exist for negative numbers ")
elif num == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial = factorial*i
  print(f"the factorial of {num} is {factorial}")

enter number 1
the factorial of 1 is 1

In [31]:
# table
num = int(input("display multiplication table of "))
for i in range(1,11):
  print(f'{num} X {i} = {num*i}')

display multiplication table of 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [8]:
# Input: User enters the number of terms
nterms = int(input("How many terms? "))

# Initialize first two terms
n1 = 0
n2 = 1
count = 0

# Check if the input is valid
if nterms <= 0:
    print("Please enter a positive integer")
elif nterms == 1:
    print("Fibonacci series:")
    print(n1)
else:
    print("Fibonacci series:")
    while count < nterms:
        print(n1)  # Print the current term
        nth = n1 + n2  # Calculate the next term
        n1 = n2  # Update n1 to n2
        n2 = nth  # Update n2 to nth
        count += 1  # Increment the count by 1

How many terms? 10
Fibonacci series:
0
1
1
2
3
5
8
13
21
34

In [10]:
nterms = int(input("how many terms : "))
n1 = 0
n2 =  1
count = 0
if nterms <= 0:
  print("enter positive integer")
elif nterms == 1:
  print("fibonacci series")
  print(n1)
else:
  print("fibonacci series")
  while count < nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count +=1

how many terms : 6
fibonacci series
0
1
1
2
3
5