STACK LIFO push pop
QUEUE FIFO queue deque

tuple are container commonly used for storing dissimilar data
duplicate items are allowded
you can create empty tuple

In [ ]:
a = ('sanjay',23,34.08)

In [2]:
tpl = (10,20,30,40,50)
i = 0
while i < len(tpl):
    print(tpl[i])
    i += 1

10
20
30
40
50

In [3]:
for n in tpl:
    print(n)

10
20
30
40
50

In [4]:
msg = tuple('Ostentatious')
s = msg[4:6]
print(s)

('n', 't')

In [5]:
msg = 'ShankarNagar'
s = tuple(msg[:-4])
print(s)

('S', 'h', 'a', 'n', 'k', 'a', 'r', 'N')

FUNCtIONS Len,min,max,sum,any,all,sorted,reversed

In [8]:
tpl = (0,2,4,10,50)
print(sorted(tpl))
print(sorted(tpl,reverse = True))

[0, 2, 4, 10, 50]
[50, 10, 4, 2, 0]

In [9]:
print(tpl[::-1])

(50, 10, 4, 2, 0)

In [11]:
tpl = print(tuple('africa'))

('a', 'f', 'r', 'i', 'c', 'a')

In [12]:
tup = ((1, 2),  [10, 20, 30], 3)
tup[1][2] = 40
print(tup)

((1, 2), [10, 20, 40], 3)

In [13]:
num = (10, 20, 30, 40, 50) + (60, 70) + (80,)
print(num)

(10, 20, 30, 40, 50, 60, 70, 80)