FUNCTIONS
block of code which performs specific task

In [1]:
def power(x, y=2):
    var = 1
    for i in range(y):
       var = var * x
    return var
print(power(4))
print(power(4, 4))

16
256

In [2]:
def func(x,y):
    x *= x
    y *= y 
    return x,y
x = 10
y = 20
print(func(x,y))
print(x,y)

(100, 400)
10 20

In [4]:
def fun(a , b , *args , x , y):

     print(a , b , args , x , y)

fun(10,30, y = 100 , x = 200)

10 30 () 200 100

In [5]:
def calc_sum(a,b):
    return a+b
sum = calc_sum(1,2)
print(sum)

3

In [6]:
def printHello():
    print("hello")

printHello()

hello

In [7]:
def avg(a,b,c):
    sum = a+b+c
    avg = sum/3
    print(avg)
    return avg

avg(22,5,33)

20.0

20.0

In [9]:
cities = ["delhi","gurgoan","noida","pune","mumbai"]
heroes =["thor","ironman","capatin america"]
def print_len(list):
    print(len(list))

print_len(heroes)
print_len(cities)

3
5

In [11]:
def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    print(fact)
fact(3)

6

In [12]:
def converter(usd_val):
    inr_val = usd_val *83
    print(usd_val,"USD =",inr_val,"INR")
converter(73)

73 USD = 6059 INR

In [14]:
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)

show(10)

10
9
8
7
6
5
4
3
2
1