LOOPS

loops are used to repeat instruction

 Repeat a set of statements till a condition remains True,
 Repeat a set of statements a finite number of times,
 iterate through a string list and tuple

In [4]:
str = 'python'
for i in range(len(str)):
    print(str)
    str = 'rules'

python
rules
rules
rules
rules
rules

In [6]:
#while
count = 1
while count <= 5:

    print("hello")
    count += 1

hello
hello
hello
hello
hello

In [2]:
i = 1
while i <= 3:
    print("hey its me im the problem its me",i)
    i+=1

hey its me im the problem its me 1
hey its me im the problem its me 2
hey its me im the problem its me 3

In [3]:
i = 1
while i<=10:
    print(i)
    i +=1
print("loop ended")

1
2
3
4
5
6
7
8
9
10
loop ended

In [4]:
i = 4
while i >= 1:
    print(i)
    i -= 1
print("loop ended")

4
3
2
1
loop ended

In [5]:
i = 1
while i <= 100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
i = 100
while i >= 1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [8]:
i = 1
while i <= 10:
    print(3*i)
    i += 1

3
6
9
12
15
18
21
24
27
30

In [9]:
n = int(input("enter number :"))
i = 1
while i <= 10:
    print(n*i)
    i += 1

10
20
30
40
50
60
70
80
90
100

In [10]:
nums = [1,4,9,16,25,36,49,64,81,100]

idx = 0
while idx < len(nums):
    print(idx)
    idx += 1

0
1
2
3
4
5
6
7
8
9

In [13]:
nums = (1,4,9,16,25,36,49,64,81,100)
x = 36
i = 0
while i < len(nums) :
    if (nums[i] == x):
        print("FOUND AT IDX",i)
    else:
        print("finding")
    i += 1

finding
finding
finding
finding
finding
FOUND AT IDX 5
finding
finding
finding
finding

In [15]:
i = 1
while i <= 5:
    print(i)
    if(i==3):
        break
    i += 1

1
2
3

In [16]:
i = 0 
while i <= 5:
    if(i == 3):
        i += 1
        continue
    
    print(i)
    i += 1

0
1
2
4
5

In [17]:
i = 0 
while i <= 100:
    if(i%2 == 0):
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [18]:
i = 0 
while i <= 100:
    if(i%2 != 0):
        i += 1
        continue
    print(i)
    i += 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

FOR LOOP

for loop are used for sequential traversal eg string tuples etc

In [19]:
nums = [1,2,3,4,5,6]
for val in nums:
    print(val)

1
2
3
4
5
6

In [20]:
tup = (1,2,4,5,6)
for num in tup:
    print(num)

1
2
4
5
6

In [22]:
str = " hey "
for char in str:
    print(char)
else:
    print("end")

h
e
y

end

In [23]:
list = [1,4,9,16,25,36,49,64,81,100]
for val in list:
    print(val)

1
4
9
16
25
36
49
64
81
100

In [24]:
tup = (1,4,9,16,25,36,49,64,81,100)
x = 49
idx = 0
for el in tup:
    if(el == x):
        print("element found at idx", idx)
    idx += 1

element found at idx 6

RANGE
range function returns a sequence of numbers starting from o by default and increments by 1 and stops before a specified number

In [25]:
print(range(8))

range(0, 8)

In [27]:
seq = range(5)
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(2,10): #range(start,stop)
    print(i)

2
3
4
5
6
7
8
9

In [29]:
for i in  range(2,10,2): #range(start,stop,step)
    print(i)

2
4
6
8

In [35]:
for i in range(2,101,2):
    
    print(i)
print('even numbers')

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
even numbers

In [36]:
for i in range(1,101,2):
    
    print(i)
print('odd numbers')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
odd numbers

In [39]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [40]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [41]:
n = int(input('enter no'))
for i in range(1,11):
    print(i * n)

2
4
6
8
10
12
14
16
18
20

PASS statement
pass is a null statement that does nothing it is used as a placeholder for future code

In [44]:
# sum of n natural nos

n = 5
sum = 0
for i in range(n+1):
    sum += i

print('total sum=',sum)

total sum= 15

In [46]:
n = 7
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("total sum =",sum)

total sum = 28

In [47]:
#factorial

n = 5
fact = 1
i = 1
while i<=n:
    fact *= i
    i += 1
print("factorial =", fact)

factorial = 120

In [48]:
n = 5
fact = 1

for i in range(1, n+1):
    fact *= i
print("factorial =",fact)

factorial = 120